[Unit]
 Description=Weather Update Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/home/pi/rp.weather/startup.sh > /tmp/startup.log 2>&1

 [Install]
 WantedBy=multi-user.target
