[Unit]
Description=weather.service, which runs run_schedule.py
After=network.target

[Service]
Type=idle
EnvironmentFile=dark_sky_api_key=/home/pi/dark_sky_api_key
ExecStart=/usr/bin/python3 run_schedule.py
WorkingDirectory=/home/pi/rp.weather
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target